<% provide(:title, "Edit Menu") %>
<div class="container homemain">
  <h1>Edit Menu</h1>
  <div class="row">
    <div class="col-md-6 col-md-offset-3 float-left">
      <%= form_for(@menu) do |f| %>

        <%= f.label :description %>
        <%= f.text_field :description, class:"form-control" %>

        
        <%= f.fields_for(:menu_items) do |i| %>
          <%= i.label :item %>
          <%= i.text_field :item, class:"form-control" %>

          <%= i.label :price %>
          <%= i.text_field :price, class:"form-control" %>
        <% end %>


        <% if false %>
        <%= @menu_items.each do |menu_item| %>
          <%= form_for(menu_item) do |i| %>
            <%= i.label :item %>
            <%= i.text_field :item, class:"form-control" %>

            <%= i.label :price %>
            <%= i.text_field :price, class:"form-control" %>
          <% end %>
        <% end %>
        <% end %>

        <%= f.submit "Edit My Menu", class:"signupbutt btn btn-success" %>
      <% end %>
    </div>
  </div>
</div>