<% provide(:title, "Sign Up") %>
<div class="container homemain">
<h1>Sign up</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3 float-left">
    <%= form_for(@user) do |f| %>
      <%= render 'shared/error_messages' %>

      <%= f.label :name %>
      <%= f.text_field :name, class:"form-control" %>

      <%= f.label :email %>
      <%= f.text_field :email, class:"form-control" %>

      <%= f.label :password %>
      <%= f.password_field :password, class:"form-control" %>

      <%= f.label :password_confirmation, "Confirmation" %>
      <%= f.password_field :password_confirmation, class:"form-control" %>

      <div class="form-inline">
      <%= f.label :service %>
      <div style="margin-left:5px;display:inline;"><%= f.check_box :service, class:"form-control" %></div>
      </div>
      <%= f.submit "Create My Account", class: "btn btn-success signupbutt" %>
    <% end %>
  </div>
</div>
</div>