<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "Food Service Application", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav pull-right">
        <li><%= link_to "Services", index_path, class: "rightnav" %></li>
        <% if logged_in? %>
          <li class="dropdown rightnav">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              Account <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to "Profile", current_user, class: "rightnav" %></li>
              <li><%= link_to "Settings", edit_user_path(current_user), class: "rightnav" %></li>
              <% if current_user.service %>
                <li><%= link_to "Edit Menu", edit_menu_path(current_user), class: "rightnav" %></li>
              <% end %>
              <li class="divider"></li>
              <li>
                <%= link_to "Log out", logout_path, method: "delete", class: "rightnav" %>
              </li>
            </ul>
          </li>
        <% else %>
          <li><%= link_to "Sign up", signup_path, class: "rightnav" %></li>
          <li><%= link_to "Log in", login_path, class: "rightnav" %></li>
        <% end %>
        <li><%= link_to "Help",   help_path, class: "rightnav" %></li>
      </ul>
    </nav>
  </div>
</header>