<!DOCTYPE html>
<html>
<head>
  <title> <%= full_title(yield(:title)) %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <link href='http://fonts.googleapis.com/css?family=Lato|Roboto' rel='stylesheet' type='text/css'>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= render 'layouts/shim' %>
</head>
<body>
<%= render 'layouts/header' %>
  <% flash.each do |message_type, message| %>
        <div class="alert alert-<%= message_type %> homemain"><%= message %></div>
  <% end %>
  <%= yield %>
<%= render 'layouts/footer' %>
</body>
</html>
